{% extends 'base.html.twig.html' %}

{% block carousel %} {% endblock %}


{% block content %}
           <h3>Nos meilleurs Cours</h3>
    <p>Découvrez les cours les plus consultés</p>

            <div class="row">
                {% for cour in cours %}
                    <div class="col-md-4">
                        {% include 'cours/simple_cour.html.twig' %}
                    </div>
                {% endfor %}
            </div><!-- /.row -->


            <!-- START THE FEATURETTES -->

            <hr class="featurette-divider">

               <!-- 1ere case après le carousel-->
            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading">Comprendre les sciences <span class="text-muted"></span></h2>
                    <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
                </div>
                <div class="col-md-5">
                    <img src="{{asset('image/science-colleges.svg') }} " width="400" height="400" style="display:block; margin-left: auto; margin-right: auto;" >
                </div>
            </div>

            <hr class="featurette-divider">

    <!-- 2ème case après le carousel-->
            <div class="row featurette">
                <div class="col-md-7 order-md-2">
                    <h2 class="featurette-heading">Apprendre les maths <span class="text-muted"></span></h2>
                    <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
                </div>
                <div class="col-md-5 order-md-1">
                    <img src="{{asset('image/maths.jpg') }} " width="400" height="400" style="display:block; margin-left: auto; margin-right: auto;" >
                </div>
            </div>

            <hr class="featurette-divider">

        <!-- 3ème case après le carousel-->
            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading">Gestion <span class="text-muted">Checkmate.</span></h2>
                    <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
                </div>
                <div class="col-md-5">
                    <img src="{{asset('image/argent.jpg') }} " width="500" height="400" style="display:block; margin-left: auto; margin-right: auto;" >
                </div>
            </div>

            <hr class="featurette-divider">

            <!-- /END THE FEATURETTES -->
{% endblock %}