{% extends 'base.html.twig.html'%}

{% block title %} <title>Mon compte - écoit </title> {% endblock %}


{% block content %}
<h1>Mon compte</h1>
    Bienvenue {{ app.user.firstname}} dans votre compte <br>
    C'est dans cet espace que vous allez pouvoir gérer vos informations personnelles.
    <hr>
    {% if is_granted('ROLE_ADMIN') %}
       <small> <a href="/admin">Vous êtes administrateur,accéder au back office? </a></small>
    {% endif %}
{% endblock %}
