.navbar-custom, .navbar-custom a {
    color: white;
}

.footer {

    text-align: center;
    position: fixed;
    bottom: -250px;
    width: 100%;
    background-color: lightgrey;
    padding-top: 25px;
    transition: 0.2s;
}

.pagination{
    margin-top: 70px;
}



