{% extends 'base.html.twig.html' %}

{% block title %} <title> Inscription - Ecoit </title>{% endblock %}

{% block content %}


    <img src="{{asset('image/logo-ecf.png') }} " width="150" height="150" style="display:block; margin-left: auto; margin-right: auto;" >

    {{ form(form) }}

    
{% endblock %}
