{% extends 'base.html.twig.html' %}

{% block title %} Nos cours - Ecoit{% endblock %}
{% block content %}

    <div class="row">
        <div class="col-md-3">
            <h3>filtrer</h3>
            {{ form(form) }}
        </div>
        <div class="col-md-9">
            <h3>Nos cours</h3>
            <div class="row" style="margin-bottom: 100px">
                {% for cour in cours %}
                    {% include 'cours/simple_cour.html.twig' %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
