<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8" />
    <title>My New Pen!</title>


    <link rel="stylesheet" href="/assets/css/style.css">
</head>

<body>
<div id="app-container">
    <div id="score-container">Score: 0</div>
    <h2 id="app-title" style="text-align: center">Quizz spécial Anglais</h2>
    <div id="questions-container"></div>
</div>


<script src="lib/lib.js"></script>
<script src="/assets/js/index.js"></script>

<button><a href="/home" class="btn btn-success">Revenir à l'accueil</a></button>

</body>

</html>